<div class="jumbotron">

	<center>
		<h1>Welcome to The Donut Emporium</h1>
		<img src="https://s-media-cache-ak0.pinimg.com/736x/de/ff/fb/defffbb6485ae3825299411a0ca8df4f.jpg">
		<br>
		<%= link_to "Our Donuts", donuts_path, class: "btn btn-default" %>
	</center>

</div>